{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row bg-warning">
        <div class="col-md-12 bg-warning" align="center">
            <br>
            <h1 class="bg-warning text-danger" align="center">***Disclaimer***</h1>
            <h3 class="bg-danger text-light" align="left">
                The code to factor in upload speed has been written but is currently not active due to hardware constraints. This may be resolved in the future.<br><br>
                I would also like to note that I have already informed Cox of my intention to make this application offered them the opportunity to provide input or a source of speedtest data, to which they declined. 
                You can get more details on this project, including links to source code and project outline by closing this tab and visiting the About page.
            </h3>
        </div>
    </div>
</div>
{% endblock %}